body {
    margin: 0;
    font-size: 28px;
    background: #bfccf3;
}
.seller { 
    margin: 0 300px;
}
b {
    color: #3f5177;
}
* {
    box-sizing: border-box; 
    list-style: none
}
h3 {
    font-size: 30px
}
a {
    color: inherit;
    text-decoration: none;
}
:root {
    --blue: #5b7cff;
    --white: #f7f9ff;
}

.button1 {
    background: var(--blue);
    color:var(--white);
    padding: 12px;
    border-radius: 30px;
}
.button2 {
    background: var(--white);
    color:var(--blue);
    padding: 12px;
    border-radius: 30px;
}
.nav {
    display: flex;
    position: sticky;
    top: 0;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    background: rgba(247, 249, 255, 0.84)
}
.H_nav {
    display: none;
    background: #fff;
    position: absolute;
    margin: 30px 80px;
    border-radius: 30px;
    padding: 20px;
    transition: 0.3s ease;
}
.H_14:hover,  .H_nav:hover{
    display: block;
}
.H_nav:hover {
    display: block;
    
}

.logo {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 10px;
}
.logoImg {
    height: 46px;
    padding: 6px;
    background: #fff; 
}
.home {
    display: flex;
    gap:20px ;
}
.abc, .abc2 {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.abc2, .abc3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
a {
    padding: 10px;
    border-radius: 14px ;
}
.abc3 {
    background: #fff;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.table, .table-home, .data, .data-search{
    background: #fff;
    margin: 80px 0;
    padding: 30px;
    border-radius: 30px;
}
.table-home {
    margin: 0;
}
.point {
    margin: 10px;
    padding: 10px;
    background: #eef3ff;
    border-radius: 30px;
}
.table {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}
.hero-panel {
    
}
.data-search {
    display: block;
    gap: 20px;
}
/*subscrip*/

.subscrip {
    margin: 10px 200px;
}
.data {
    display: flex;
    white-space: pre-line;
    gap: 20px;
}
.data_block {
    background: #bfccf3;
    border-radius: 30px;
    padding: 20px;

}
.data_input {
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
}
.social {
    display: block;
    white-space: pre-line;
    color: #2947d1; 
}
.map {
    width: 100%;
}
/*hover*/
.button1:hover  {
    background: #2947d1;
}
.button2:hover {
    background: #afafaf;
}
a:hover {
    transform: translateY(8px);
}

.active-link {
    background: #5b7cff;
    color: #2947d1;
}
/**/